[bumpversion]
current_version = 2.1.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file(all-extra):pyproject.toml]
search = paperless-ngx-mcp[mcp,agent]>={current_version}
replace = paperless-ngx-mcp[mcp,agent]>={new_version}


[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = paperless-ngx-mcp[mcp]>={current_version}
replace = paperless-ngx-mcp[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = paperless-ngx-mcp[agent]>={current_version}
replace = paperless-ngx-mcp[agent]>={new_version}

[bumpversion:file:paperless_ngx_mcp/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:paperless_ngx_mcp/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
